:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: ;
  --accent-color: #2196f3;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-black {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000;
}
body {
  font-family: var(--main-font);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.menu-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-list-link:hover,
.menu-list-link:focus {
  color: var(--accent-color);
}
.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14
  letter-spacing: 0.02em;
  color: #757575;
}
.phone-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14
  letter-spacing: 0.02em;
  color: #757575;
}
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}
.phone-link:hover,
.phone-link:focus {
  color: var(--accent-color);
