:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: ;
  --accent-color: #2196f3;
  --background-color: #2F303A;
}
body {
  font-family: var(--main-font);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* header */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-black {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000;
}

.menu-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.current {
  color: var(--accent-color);
}
.menu-list-link:hover,
.menu-list-link:focus {
  color: var(--accent-color);
}
.contacts-header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts-header-phone-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts-header-mail-link:hover,
.contacts-header-mail-link:focus {
  color: var(--accent-color);
}
.contacts-header-phone-link:hover,
.contacts-header-phone-link:focus {
  color: var(--accent-color);
}

/* hero */
.titel-hero {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.hero {
  background-color: var(--background-color);
}
.modal-button {
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;
background: #F5F4FA;
}
.modal-button:hover,
.modal-button:focus {
  color: #FFFFFF;
  background: var(--accent-color);
}

.advantages-titel {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.advantages-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
.titel2 {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.position {
font-weight: 400;
font-size: 16px;
line-height: 1.19
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
.titel3-name {
 font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #212121;
}
/* job  */
.job, .team-titel {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/* team */
.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.position {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
.logo-white {
font-weight: 700;
font-size: 26px;
line-height: 1.35;
letter-spacing: 0.03em;
color: #FFFFFF;
}
/* footer */
.footer {
  background: var(--background-color);
}
.footer-list-address {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.footer-link-mail {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF99;
}
.footer-link-tel {
  font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF99;
}